# Игнорировать скомпилированные Python-файлы
*.pyc
__pycache__/
**/__pycache__/
# Игнорировать временные файлы редакторов
*.swp
*.swo
*.DS_Store
.idea/
.vscode/

# Игнорировать виртуальное окружение
venv/
env/

# Игнорировать логи и кэш
*.log
*.cache